/* Responsive Design for HERO */
@media (max-width: 1024px) {
  .hero-box {
      margin: 0;
      width: 90%;
  }
}

@media (max-width: 768px) {
  .hero-box {
      flex-direction: column;
      height: auto;
      width: 100%;
  }

  .hero-left, .hero-right {
      width: 100%;
      height: auto;
      padding: 20px;
      margin: 0;
  }

  .quote-container p {
      font-size: 20px;
  }

  .hero-right img {
      width: 60%;
  }
}

/* Responsive Design for What we do */

@media (max-width: 1024px) {
  #what-we-do .services {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #what-we-do .services {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  #what-we-do .service {
      flex: 1 1 100%;
  }
}

/*Maintenance responsive*/
/* Responsive adjustments */
@media (max-width: 768px) {
  .popup-content {
      padding: 20px;
      max-width: 90%;
  }

  #dismissBtn {
      font-size: 14px;
      padding: 10px 16px;
  }
}

@media (max-width: 480px) {
  .popup-content {
      padding: 18px;
      max-width: 95%;
  }

  #dismissBtn {
      font-size: 14px;
      padding: 10px 14px;
  }
}

/* counting responsive */
